#div1{
  display: flex;
}
.vert{
  width: 80%;
  height: 50px;
  background-color: #2ECC71;
}
.bleu{
  width: 20%;
  height: 50px;
  background-color: #2980B9;
}
#div2{
  display: flex;
  justify-content: flex-start;
  height: 150px;
}
.rouge{
  width: 33.3%;
  height: 150px;
  background-color: #E74C3C;
}
#div3{
  display: flex;
  flex-direction: column;
  width: 67.7%;
  height: 150px;
}
#div4{
  display: flex;
  width: 100%;
  height: 150px;
}
.orangec{
  width: 50%;
  height: 75px;
  background-color: #E67E22;
}
.gris{
  width: 50%;
  height: 75px;
  background-color: #95A5A6;
}
#div5{
  display: flex;
}
.jaune{
  width: 33.333%;
  height: 75px;
  background-color: #F39C12;
}
.bleuc{
  width: 33.333%;
  height: 75px;
  background-color: #16A085;
}
.orange{
  width: 33.333%;
  height: 75px;
  background-color: #D35400;
}
.bleuf{
  width: 100%;
  height: 200px;
  background-color: #2C3E50;
}
