#div1{
  display: flex;
}
.vert{
  width: 80%;
  height: 10px;
  background-color: green;
}
.bleu{
  width: 20%;
  height: 10px;
  background-color: blue;
}
#div2{
  display: flex;
}

.rouge{

}



#div3{

}


#div4{

}

.orangec{

}

.gris


#div5{

}

.jaune{

}

.bleu{

}

.orange{

}
#div6{
  
}
